# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# token=1//0eiEbT-RU5WWvCgYIARAAGA4SNwF-L9IrxMKM5nu_Z1qJws3RfVx5NjMe_9HJxFlYd6yDEuVqvlphMyBFU8fXE23r56sjrIQ2dvw
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
